html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
    background: #eee;
}

#canvas-container {
}

canvas {
    display: block;
    margin: 50px auto 0;
    background-image: url("img/transparent.jpg");
}


nav {
    background: #555;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


label {  
    margin: 0 0 0 10px;
    color: white
}

output {
    display: inline;
}

input[type="range"] {
    width: 100px;
}

input[type="text"] {
    width: 100px;
}

div#tools a {
    color: #09f;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #09f;
    padding: 3px 5px;
}

div#tools a.active {
    color: #FFF;
    background: #09f;
}
